html{
	background:linear-gradient(#003399,#57e099);
	height:100%;
}

#listingT{
	width:100%;
}

.imgpreview, .imgl{
	display:block;
    margin:auto;
	border-radius:15px !important;
	width:200px;
	height:200px;
}

.descriptionfig, .priceoffig{
	background-color:rgba(255,255,255,0.5);
}

.descriptionfig{
	margin-top:5px;
	border-radius:15px 15px 0px 0px;
}

.priceoffig{
	border-radius:0px 0px 15px 15px;
}

.clickl{
	display:inline;
}

#swiab{
	border: 1px solid #DCDCDC;
	border-radius:5px;
}

#description, #title{
	border-bottom:1px solid #DCDCDC;
	margin:0px;
}

#description, #title,#price{
	padding-top:4px;
	padding-bottom:8px;
}

#price{
	margin-bottom:8px;
}

figure{
	padding:25px;
}

body{
	background-color: transparent;
}

.searchbar{
	width:50%;
	padding-left:50px;
}

.searchbarin{
	width:70% !important;
}

.submitsearch{
	margin-left:5px !important;
}

.modal{
   	overflow-y: auto;
}

.catlabel{
	font-size: 20px;
	padding-left: 15px;
	padding-right: 5px;
	padding-top:15px;
	margin:0px;
	color: white;
}

#wholenav {
	background: linear-gradient(to right,#57e099,#003399);
}
