#listingT{
	width:100%;
}

.imgpreview, .imgl{
	display:block;
    	margin:auto;
	border-radius:20px;
	width:200px;
	height:200px;
}

.clickl{
	display:inline;
}

#swiab{
	border: 1px solid #DCDCDC;
	border-radius:5px;
}

#description, #title{
	border-bottom:1px solid #DCDCDC;
	margin:0px;
}

#description, #title,#price{
	padding-top:4px;
	padding-bottom:8px;
}

#price{
	margin-bottom:8px;
}

figure{
	padding:25px;
}

body{
	background-color: #78edd5;
}

.searchbar{
	width:50%;
	padding-left:50px;
}

.searchbarin{
	width:70% !important;
}

.submitsearch{
	margin-left:5px !important;
}

.modal{
    	overflow-y: auto;
}
