{% extends "layout.html" %}
{% block content %}
{% include 'purchasingModal.html' %}
{% include 'listingModal.html' %}
<label class="catlabel">Animals</label>
<div id="refreshDelete">
{{ cat1 }}
</div>
<label class="catlabel">Books</label>
<div id="refreshDelete">
{{ cat2 }}
</div>
<label class="catlabel">Board Games</label>
<div id="refreshDelete">
{{ cat3 }}
</div>
<label class="catlabel">Brogle</label>
<div id="refreshDelete">
{{ cat4 }}
</div>
<label class="catlabel">Cars</label>
<div id="refreshDelete">
{{ cat5 }}
</div>
<label class="catlabel">Computers</label>
<div id="refreshDelete">
{{ cat6 }}
</div>
<label class="catlabel">Dieting</label>
<div id="refreshDelete">
{{ cat7 }}
</div>
<label class="catlabel">DVD's & Movies</label>
<div id="refreshDelete">
{{ cat8 }}
</div>
<label class="catlabel">Electronics</label>
<div id="refreshDelete">
{{ cat9 }}
</div>
<label class="catlabel">Education</label>
<div id="refreshDelete">
{{ cat10 }}
</div>
<label class="catlabel">Food</label>
<div id="refreshDelete">
{{ cat11 }}
</div>
<label class="catlabel">Fantastic Sams</label>
<div id="refreshDelete">
{{ cat12 }}
</div>
<label class="catlabel">Gallery</label>
<div id="refreshDelete">
{{ cat13 }}
</div>
<label class="catlabel">Garbage</label>
<div id="refreshDelete">
{{ cat14 }}
</div>
<label class="catlabel">Household Items</label>
<div id="refreshDelete">
{{ cat15 }}
</div>
<label class="catlabel">Happy Products</label>
<div id="refreshDelete">
{{ cat16 }}
</div>
<label class="catlabel">Instruments</label>
<div id="refreshDelete">
{{ cat17 }}
</div>
<label class="catlabel">Iguanas</label>
<div id="refreshDelete">
{{ cat18 }}
</div>
<label class="catlabel">Jewelry</label>
<div id="refreshDelete">
{{ cat19 }}
</div>
<label class="catlabel">Large Products</label>
<div id="refreshDelete">
{{ cat20 }}
</div>
<label class="catlabel">Lamps</label>
<div id="refreshDelete">
{{ cat21 }}
</div>
<label class="catlabel">Music</label>
<div id="refreshDelete">
{{ cat22 }}
</div>
<label class="catlabel">Magical Products</label>
<div id="refreshDelete">
{{ cat23 }}
</div>
<label class="catlabel">Pottery</label>
<div id="refreshDelete">
{{ cat24 }}
</div>
<label class="catlabel">Pets</label>
<div id="refreshDelete">
{{ cat25 }}
</div>
<label class="catlabel">Red Products</label>
<div id="refreshDelete">
{{ cat26 }}
</div>
<label class="catlabel">Rollercoasters</label>
<div id="refreshDelete">
{{ cat27 }}
</div>
<label class="catlabel">Sporting Goods</label>
<div id="refreshDelete">
{{ cat28 }}
</div>
<label class="catlabel">Spooky Products</label>
<div id="refreshDelete">
{{ cat29 }}
</div>
<label class="catlabel">Toys</label>
<div id="refreshDelete">
{{ cat30 }}
</div>
<label class="catlabel">Traveling</label>
<div id="refreshDelete">
{{ cat31 }}
</div>
<label class="catlabel">Video Games</label>
<div id="refreshDelete">
{{ cat32 }}
</div>
<label class="catlabel">Vehicles</label>
<div id="refreshDelete">
{{ cat33 }}
</div>
<label class="catlabel">Winter Products</label>
<div id="refreshDelete">
{{ cat34 }}
</div>
<label class="catlabel">X-Ray Machines</label>
<div id="refreshDelete">
{{ cat35 }}
</div>
<label class="catlabel">Yoga Products</label>
<div id="refreshDelete">
{{ cat36 }}
</div>
<label class="catlabel">Yogurt</label>
<div id="refreshDelete">
{{ cat37 }}
</div>
<label class="catlabel">ZzZ</label>
<div id="refreshDelete">
{{ cat38 }}
</div>
<label class="catlabel">Other Products</label>
<div id="refreshDelete">
{{ cat39 }}
</div>
{% endblock %}
