<!-- Modal -->
			<div id="myModal" class="modal fade" role="dialog">
  				<div class="modal-dialog modal-dialog-centered">
    				<!-- Modal content-->
    				<div class="modal-content">
      					<div class="modal-header">
						<h4 class="modal-title">Listings</h4>
        					<button type="button" class="close" data-dismiss="modal">&times;</button>
      					</div>
      					<div class="modal-body">
        					{{ listingTable }}
      					</div>
      					<div class="modal-footer">
						<button type="button" class="btn btn-success" data-toggle="modal" data-target="#makeListing" data-dismiss="modal">Create Listing</buttton>
      					</div>
    				</div>
  				</div>
			</div>
			<div id="makeListing" class="modal fade" role="dialog">
  				<div class="modal-dialog modal-dialog-centered">
    				<!-- Modal content-->
    				<div class="modal-content">
      					<div class="modal-header">
						<h4 class="modal-title">Create a Listing</h4>
        					<button type="button" class="close" data-dismiss="modal">&times;</button>
      					</div>
      					<div class="modal-body">
        					<form action="/createListing" method="post">
							<label for="ltitle">Listing Title</label>
							<input name="ltitle" type="text" class="form-control" placeholder="Ticonderoga Pencil" id="ltitle">
							<label for="paypaladdress">PayPal</label>
							<input name="ppemail" type="email" class="form-control" placeholder="name@example.com" id="paypaladdress">
							<br>
							<button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#myModal" data-dismiss="modal">Create</button>
						</form>
      					</div>
      					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</buttton>
      					</div>
    				</div>
  				</div>
			</div>
