<!-- Modal -->
			<div id="myModal" class="modal fade" role="dialog">
  				<div class="modal-dialog modal-dialog-centered">
    				<!-- Modal content-->
    				<div class="modal-content">
      					<div class="modal-header">
						<h4 class="modal-title">Listings</h4>
        					<button type="button" class="close" data-dismiss="modal">&times;</button>
      					</div>
      					<div class="modal-body">
        					{{ listingTable }}
      					</div>
      					<div class="modal-footer">
						<button type="button" class="btn btn-success" data-toggle="modal" data-target="#makeListing" data-dismiss="modal">Create Listing</button>
      					</div>
    				</div>
  				</div>
			</div>
			<div id="makeListing" class="modal fade" role="dialog">
  				<div class="modal-dialog modal-dialog-centered">
    				<!-- Modal content-->
    				<div class="modal-content">
      					<div class="modal-header">
						<h4 class="modal-title">Create a Listing</h4>
        					<button type="button" class="close" data-dismiss="modal">&times;</button>
      					</div>
      					<div class="modal-body">
							<form action="/uploadimg" method="post" enctype="multipart/form-data">
								<input type="file" name="file">
								<label for="ltitle">Title</label>
								<input name="ltitle" type="text" class="form-control" placeholder="Pencil" id="ltitle" maxlength="30">
								<label for="description">Description</label>
								<input name="des" type="text" class="form-control" placeholder="New and sealed in package." id="des" maxlength="30">
								<label for="paypaladdress">PayPal</label>
								<input name="ppemail" type="email" class="form-control" placeholder="name@example.com" id="paypaladdress" maxlength="30">
								<br>
								<button type="submit" class="btn btn-success">Create</button>
							</form>
      					</div>
      					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      					</div>
    				</div>
  				</div>
			</div>