<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href=".">eBzon</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <form class="form-inline">
    <div class="searchbar">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
  </form>
  <ul class="nav navbar-nav navbar-right">
	{% if logged_in %}
        <li><p class="navbar-text">Username: {{ session['user_name'] }}</li>
	{% endif %}
        <li>
	  {% if logged_in %}
	  <a href="/logout">Logout</a>
	  {% else %}
	  <a href="/login">Login</a>
	  {% endif %}
	</li>
  </ul>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto dropdown">
	  <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Orders
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Order 1</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Order 2</a>
	</div>
      </li>
    </ul>
  </div>
  
</nav>
